<div class="org-monitor-wrapper">
  <div class="title">
    养老院实时监控视频
    <img src="public/image/close-icon.png" class="close-icon" onclick="closeMonitor()" alt="" />
  </div>
  <iframe
    src={{url}}
    width="700" height="560" id="ysOpenDevice" allowfullscreen>
  </iframe>
</div>