<div class="community-older-info">
  <div class="title">信息</div>
  <div class="personal-info-wrapper">
    <div class="avatar-wrapper">
      <img src="public/image/avatar/old3.png" alt="">
    </div>
    <ul>
      <li>
        <div class="block-dot"> </div> 王叔叔
      </li>
      <li>
        <div class="block-dot"> </div> 男性
      </li>
      <li>
        <div class="block-dot"> </div> 上海
      </li>
      <li>
        <div class="block-dot"> </div> 79岁
      </li>
      <li>
        <div class="block-dot"></div>认知障碍
      </li>
    </ul>
  </div>
  <div class="service-wrapper">
    <div class="service-item">
      <div>
        套餐
      </div>
      <p>EH2</p>
    </div>
    <div class="service-item">
      <div>
        喜好
      </div>
      <p>看报纸、电视</p>
    </div>
    <div class="service-item">
      <div>
        电话
      </div>
      <p>17602109258</p>
    </div>
  </div>
  <div class="bottom-decorate"></div>
</div>