<div class="popup-wrapper">
  <h3 class="popup-header">机构信息</h3>
  <div class="popup-body">
    <img src="{{imageUrl}}" alt="">
    <ul>
      {{#each list}}
      <li class="item">{{this}}</li>
      {{/each}}
    </ul>
  </div>

</div>